.p-Home.Div6 {
position: relative;
top: 398px;
width: 1000px;
height: 500px;
text-align: left;
left: 180px;
border-width: 0.5px;
border-color: #e4dfdfff;
border-style: solid;
background-color: #eebfc600;
background-position-y: ;
}
.p-Home.Div9 {
width: 400px;
height: 500px;
position: relative;
top: -198px;
bottom: 0;
left: -2px;
}
.p-Home.Div10 {
width: 500px;
height: 500px;
float: right;
border-left-width: 1px;
border-left-style: none;
background-color: #e8dfe1;
}
.p-Home.Div7 {
position: relative;
top: 436px;
width: 1000px;
height: 500px;
text-align: left;
left: 178px;
overflow: visible;
border-width: 1px;
border-color: #bdafaf;
border-style: solid;
}
.p-Home.Div12 {
width: 500px;
height: 500px;
float: right;
background-color: #b6b6e0;
}
.p-Home.Div8 {
position: relative;
top: 478px;
width: 1000px;
height: 500px;
text-align: left;
left: 180px;
border-width: 1px;
border-style: solid;
border-color: #bdafaf;
}
.p-Home.Div13 {
width: 500px;
height: 500px;
position: relative;
left: 2px;
}
.p-Home.Div14 {
width: 500px;
height: 500px;
float: right;
background-color: #ffe1e1;
}
.p-Home.Div16 {
width: 1000px;
height: 500px;
position: relative;
top: 524px;
left: 176px;
border-width: 0.5px;
border-style: solid;
border-color: #cab9b9;
}
.p-Home.Div17 {
width: 500px;
height: 500px;
}
.p-Home.Div18 {
width: 500px;
height: 500px;
float: right;
background-color: #e6e6f099;
}
.p-Home.Div20 {
width: 1000px;
height: 700px;
position: relative;
top: 854px;
left: 178px;
border-top-width: 1px;
border-top-color: #e1d1d1;
border-bottom-width: 1px;
border-bottom-color: #e1d1d1;
border-bottom-style: solid;
border-top-style: solid;
}
.p-Home.Div21 {
width: 400px;
height: 700px;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #c3b6b6;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #c3b6b6;
}
.p-Home.Div22 {
width: 500px;
height: 700px;
float: right;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #c3b6b6;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #c3b6b6;
}
.p-Home.Div33 {
position: relative;
top: 834px;
width: 1000px;
height: 1200px;
left: 167px;
border-top-width: 1px;
border-top-style: solid;
border-bottom-width: 1px;
border-bottom-style: solid;
border-top-color: #d8cccc;
border-bottom-color: #a59797;
}
.p-Home.Div34 {
height: 600px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #a59797;
}
.p-Home.Div42 {
width: 300px;
height: 600px;
position: relative;
top: -598px;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.p-Home.Div43 {
width: 300px;
height: 600px;
float: right;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #000000;
top: 6px;
position: relative;
}
.p-Home.Div44 {
width: 300px;
height: 600px;
position: relative;
left: 346px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #000000;
top: 3px;
}
.p-Home.Div45 {
width: 300px;
height: 400px;
border-bottom-width: 1px;
border-bottom-style: solid;
position: relative;
top: -407px;
}
.p-Home.Div46 {
width: 300px;
height: 400px;
float: none;
position: relative;
left: 348px;
border-bottom-width: 1px;
border-bottom-style: solid;
top: -9px;
}
.p-Home.Div47 {
width: 300px;
height: 400px;
float: right;
position: relative;
left: -4px;
border-bottom-width: 1px;
border-bottom-style: solid;
top: -411px;
}
.p-Home.Div54 {
position: relative;
top: 926px;
left: 178px;
width: 1000px;
height: 500px;
}
.p-Home.Div56 {
width: 500px;
height: 500px;
float: right;
position: relative;
left: 304px;
}
.p-Home.Div57 {
width: 500px;
height: 50-px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 40px;
}
.p-Home.Div55 {
position: relative;
top: 926px;
width: 1000px;
height: 500px;
left: 180px;
bottom: -10px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #bdacac;
border-bottom-width: 1px;
border-bottom-color: #b9afaf;
}
.p-Home.Div59 {
width: 500px;
height: 500px;
float: right;
}
.p-Home.Div62 {
width: 500px;
height: 500px;
}
.p-Home.Div67 {
position: relative;
top: 946px;
width: 1000px;
height: 500px;
left: 180px;
bottom: -10px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #c9c2c2;
border-bottom-width: 1px;
border-bottom-color: #b9afaf;
}
.p-Home.Div71 {
position: relative;
top: 526px;
height: 950px;
left: 50px;
bottom: 0;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #c2aeae;
width: 1200px;
}
.p-Home.Div74 {
width: 500px;
float: none;
height: 400px;
position: relative;
left: 450px;
cursor: pointer;
top: 391px;
}
.p-Home.Div75 {
width: 80px;
height: 400px;
position: relative;
left: 15px;
top: -14px;
cursor: pointer;
}
.p-Home.Div76 {
float: right;
width: 70px;
height: 300px;
position: relative;
left: -331px;
top: 88px;
cursor: pointer;
}
.p-Home.Div78 {
width: 300px;
height: 400px;
position: relative;
left: 770px;
top: 17px;
cursor: pointer;
}
.p-Home.Div81 {
position: relative;
top: 532px;
width: 350px;
height: 30px;
left: 770px;
}
.p-Home.Div82 {
width: 1000px;
left: 121px;
position: relative;
height: 90px;
}
.p-Home.Link2 {
;
}
.p-Home.Link8 {
position: relative;
left: 499px;
top: -76px;
font-size: 20px;
}
.p-Home.TextBox2 {
position: relative;
bottom: -109px;
left: 173px;
font-size: 50px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox5 {
;
}
.p-Home.TextBox7 {
position: relative;
bottom: -113px;
left: 174px;
font-size: 50px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox12 {
;
}
.p-Home.TextBox14 {
float: left;
position: relative;
top: 156px;
left: 168px;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 20px;
width: 500px;
}
.p-Home.Div4 {
height: 1px;
width: 340px;
position: relative;
top: 183px;
left: 180px;
border-radius: ;
border-top-width: 1px;
border-top-style: solid;
}
.p-Home.Div5 {
position: relative;
top: 245px;
height: 1px;
width: 1000px;
left: 167px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-top-style: solid;
border-top-width: 1px;
border-radius: 1px;
border-color: #c6bfbf;
border-bottom-color: #NaNNaN0a66;
}
.p-Home.TextBox16 {
box-sizing: content-box;
align-self: center;
word-wrap: normal;
text-align: center;
position: relative;
top: 359px;
font-family: IBM Plex Sans;
font-size: 50px;
font-weight: normal;
width: 300px;
left: 418px;
}
.p-Home.TextBox30 {
position: relative;
top: -140px;
left: 492px;
width: 300px;
height: 50px;
font-family: IBM Plex Sans;
font-size: 30px;
font-weight: 600;
}
.p-Home.Image11 {
top: -91px;
position: relative;
width: 100px;
height: 40px;
left: 728px;
}
.p-Home.TextBox17 {
;
}
.p-Home.Link10 {
;
}
.p-Home.TextBox19 {
align-self: center;
text-align: center;
padding-top: 0px;
margin-top: 178px;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 20px;
position: relative;
left: 46px;
width: 200px;
top: 168px;
bottom: -4px;
}
.p-Home.TextBox20 {
text-align: center;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 25px;
position: relative;
left: 41px;
top: 197px;
}
.p-Home.TextBox21 {
width: 400px;
position: relative;
left: 55px;
top: 223px;
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-Home.TextBox52 {
position: relative;
top: 244px;
left: 68px;
font-family: IBM Plex Sans;
font-size: 15px;
font-weight: 600;
border-bottom-width: 1px;
border-bottom-style: solid;
width: 110px;
padding-top: 5px;
}
.p-Home.Image5 {
width: 450px;
height: 450px;
box-sizing: content-box;
position: relative;
left: 32px;
top: 27px;
text-align: center;
align-self: auto;
}
.p-Home.Image6 {
width: 400px;
height: 500px;
cursor: pointer;
}
.p-Home.Image7 {
width: 450px;
height: 450px;
position: relative;
left: 19px;
top: 20px;
cursor: pointer;
}
.p-Home.TextBox22 {
font-family: IBM Plex Sans;
font-size: 20px;
position: relative;
top: 162px;
left: 17px;
}
.p-Home.TextBox23 {
position: relative;
top: 184px;
font-family: IBM Plex Sans;
font-size: 25px;
left: 16px;
font-weight: 400;
}
.p-Home.TextBox24 {
position: relative;
top: 202px;
font-size: ;
left: 18px;
width: 400px;
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-Home.TextBox25 {
position: relative;
top: 236px;
font-family: IBM Plex Sans;
font-size: 15px;
font-weight: 600;
left: 28px;
border-bottom-width: 1px;
border-bottom-style: solid;
width: 110px;
}
.p-Home.Image8 {
width: 450px;
height: 450px;
position: relative;
left: 30px;
top: 24px;
}
.p-Home.TextBox26 {
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 20px;
position: relative;
top: 162px;
left: 18px;
}
.p-Home.TextBox27 {
position: relative;
top: 182px;
font-family: IBM Plex Sans;
font-size: 25px;
font-weight: 400;
left: 14px;
}
.p-Home.TextBox28 {
position: relative;
top: 188px;
left: 14px;
font-family: IBM Plex Sans;
font-weight: 300;
width: 400px;
}
.p-Home.TextBox51 {
top: 215px;
position: relative;
left: 18px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 15px;
width: 110px;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.p-Home.Image9 {
width: 450px;
height: 450px;
position: relative;
left: 35px;
top: 25px;
}
.p-Home.Div52 {
position: relative;
top: 1322px;
width: 1000px;
height: 1000px;
border-top-width: 0px;
border-top-style: solid;
}
.p-Home.TextBox32 {
position: relative;
top: 178px;
font-family: IBM Plex Sans;
font-size: 60px;
}
.p-Home.TextBox33 {
position: relative;
top: 198px;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 20px;
}
.p-Home.TextBox34 {
position: relative;
top: 242px;
font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 600;
}
.p-Home.Image10 {
width: 450px;
height: 600px;
position: relative;
top: 66px;
}
.p-Home.Image30 {
position: relative;
top: 144px;
}
.p-Home.TextBox70 {
position: relative;
top: 313px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 30px;
left: 9px;
}
.p-Home.TextBox71 {
position: relative;
top: 205px;
font-family: IBM Plex Sans;
font-size: 19px;
left: 4px;
width: 290px;
font-weight: 300;
}
.p-Home.TextBox76 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 40px;
}
.p-Home.Image32 {
position: relative;
top: 101px;
}
.p-Home.TextBox74 {
position: relative;
top: 277px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 30px;
}
.p-Home.TextBox75 {
position: relative;
top: 417px;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 300;
}
.p-Home.Image31 {
position: relative;
top: 196px;
}
.p-Home.TextBox72 {
position: relative;
top: 371px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 30px;
}
.p-Home.TextBox73 {
position: relative;
top: 258px;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 300;
}
.p-Home.Image33 {
position: relative;
bottom: 350px;
top: 75px;
left: 1px;
}
.p-Home.TextBox77 {
position: relative;
top: 83px;
bottom: 330px;
font-family: IBM Plex Sans;
font-size: 30px;
font-weight: 400;
}
.p-Home.TextBox79 {
position: relative;
top: 91px;
bottom: 300px;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 18px;
}
.p-Home.Image36 {
position: relative;
top: 13px;
}
.p-Home.TextBox78 {
position: relative;
top: 200px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 30px;
}
.p-Home.TextBox80 {
position: relative;
top: 92px;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 18px;
}
.p-Home.Image37 {
position: relative;
top: 50px;
left: -7px;
}
.p-Home.TextBox81 {
position: relative;
top: 86px;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 18px;
}
.p-Home.TextBox82 {
top: 70px;
position: relative;
font-family: IBM Plex Sans;
font-size: 30px;
font-weight: 400;
}
.p-Home.TextBox181 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
position: relative;
top: 260px;
left: 33px;
background-position-x: ;
height: 30px;
width: 300px;
}
.p-Home.TextBox182 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 25px;
position: relative;
top: 285px;
left: 34px;
width: 300px;
}
.p-Home.Image38 {
width: 500px;
position: relative;
top: 9px;
height: 400px;
left: -7px;
}
.p-Home.TextBox88 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
width: 220px;
float: right;
left: 6px;
position: relative;
}
.p-Home.TextBox83 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 25px;
left: 14px;
position: relative;
height: 30px;
top: -90px;
}
.p-Home.TextBox85 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 25px;
position: relative;
top: 186px;
left: 14px;
width: ;
}
.p-Home.Image40 {
width: 500px;
position: relative;
top: 45px;
height: 400px;
}
.p-Home.TextBox89 {
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 20px;
position: relative;
top: 250px;
left: 23px;
width: 400px;
}
.p-Home.TextBox90 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 25px;
width: 300px;
position: relative;
top: 268px;
left: 18px;
}
.p-Home.TextBox93 {
width: 600px;
font-family: IBM Plex Sans;
font-size: 40px;
font-weight: normal;
position: relative;
top: -34px;
}
.p-Home.TextBox94 {
position: relative;
top: -602px;
width: 800px;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 25px;
bottom: 1000px;
}
.p-Home.Image43 {
position: relative;
left: 808px;
width: 150px;
top: 190px;
}
.p-Home.Div69 {
position: relative;
top: 217px;
width: 1500px;
left: -175px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #c0b2b2;
height: 600px;
}
.p-Home.TextBox95 {
font-family: IBM Plex Sans;
font-size: 30px;
font-weight: 600;
top: 157px;
position: relative;
left: 138px;
width: 200px;
}
.p-Home.TextBox96 {
width: 300px;
font-family: IBM Plex Sans;
position: relative;
top: 180px;
left: 140px;
font-weight: 300;
font-size: 13px;
}
.p-Home.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 20px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
position: relative;
top: 200px;
left: 140px;
width: 300px;
height: 50px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #b9acac;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #ffffff;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #ffffff;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-Home.TextBox97 {
position: relative;
top: -178px;
left: 141px;
width: 200px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 15px;
}
.p-Home.TextBox165 {
font-family: IBM Plex Sans;
font-weight: 400;
width: 70px;
left: 490px;
position: relative;
top: -62px;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.p-Home.TextBox171 {
font-family: IBM Plex Sans;
font-weight: 300;
width: 270px;
position: relative;
top: 19px;
}
.p-Home.TextBox172 {
font-family: IBM Plex Sans;
font-weight: 400;
width: 120px;
left: 269px;
position: relative;
top: -3px;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.p-Home.TextBox173 {
font-family: IBM Plex Sans;
font-weight: 300;
width: 120px;
left: 394px;
position: relative;
top: -23px;
border-bottom-width: 0px;
border-bottom-style: solid;
}
.p-Home.TextBox148 {
width: 100px;
position: relative;
left: 180px;
top: 205px;
font-family: IBM Plex Sans;
bottom: -7px;
}
.p-Home.TextBox150 {
width: 100px;
position: relative;
left: 180px;
font-family: IBM Plex Sans;
bottom: 207px;
}
.p-Home.TextBox151 {
width: 100px;
position: relative;
left: 180px;
font-family: IBM Plex Sans;
bottom: 146px;
}
.p-Home.TextBox152 {
width: 100px;
position: relative;
left: 180px;
font-family: IBM Plex Sans;
bottom: 152px;
}
.p-Home.TextBox153 {
width: 100px;
position: relative;
left: 180px;
font-family: IBM Plex Sans;
bottom: 142px;
}
.p-Home.TextBox125 {
font-family: IBM Plex Sans;
font-weight: 600;
position: relative;
top: 159px;
cursor: pointer;
}
.p-Home.TextBox128 {
font-family: IBM Plex Sans;
font-weight: 400;
position: relative;
top: 180px;
font-size: 15px;
cursor: pointer;
}
.p-Home.TextBox137 {
font-family: IBM Plex Sans;
font-weight: 400;
position: relative;
top: 194px;
font-size: 15px;
}
.p-Home.TextBox138 {
font-family: IBM Plex Sans;
font-weight: 400;
position: relative;
top: 209px;
font-size: 15px;
}
.p-Home.TextBox139 {
font-family: IBM Plex Sans;
font-weight: 400;
position: relative;
top: 225px;
font-size: 15px;
}
.p-Home.TextBox140 {
font-family: IBM Plex Sans;
font-weight: 400;
position: relative;
top: 238px;
font-size: 15px;
}
.p-Home.TextBox141 {
font-family: IBM Plex Sans;
font-weight: 400;
position: relative;
top: 250px;
font-size: 15px;
}
.p-Home.TextBox142 {
position: relative;
top: 117px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox143 {
position: relative;
top: 128px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox144 {
position: relative;
top: 145px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox145 {
position: relative;
top: 159px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox146 {
position: relative;
top: 170px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox147 {
position: relative;
top: 181px;
box-sizing: border-box;
font-family: IBM Plex Sans;
}
.p-Home.TextBox156 {
font-family: IBM Plex Sans;
font-weight: 600;
position: relative;
top: 12px;
}
.p-Home.TextBox157 {
font-family: IBM Plex Sans;
font-weight: 400;
top: 26px;
position: relative;
}
.p-Home.TextBox158 {
font-family: IBM Plex Sans;
font-weight: 400;
position: relative;
top: 36px;
}
.p-Home.TextBox159 {
font-family: IBM Plex Sans;
font-weight: 400;
position: relative;
top: 49px;
}
.p-Home.TextBox160 {
font-family: IBM Plex Sans;
font-weight: 400;
position: relative;
top: 60px;
}
.p-Home.TextBox161 {
font-family: IBM Plex Sans;
font-weight: 400;
position: relative;
top: 72px;
}
.p-Home.TextBox162 {
font-family: IBM Plex Sans;
font-weight: 400;
position: relative;
top: 78px;
}
.p-Home.TextBox163 {
font-family: IBM Plex Sans;
font-weight: 600;
position: relative;
top: 85px;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.p-Home.Image44 {
width: 25px;
position: relative;
left: 148px;
top: 2px;
}
.p-Home.Image48 {
width: 20px;
left: 131px;
position: relative;
}
.p-Home.Image49 {
width: 25px;
position: relative;
left: 114px;
}
.p-Home.Image50 {
width: 25px;
position: relative;
left: 97px;
}
.p-Home.Image51 {
width: 20px;
position: relative;
left: 80px;
}
.p-Home.Image52 {
width: 25px;
position: relative;
left: 305px;
top: 3px;
}
.p-Home.Image53 {
width: 25px;
position: relative;
bottom: -9px;
left: 385px;
top: 2px;
}
.p-Home.TextBox174 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 30px;
width: 200px;
position: relative;
left: 53px;
top: -73px;
}
.p-Home.TextBox176 {
width: 100px;
font-family: IBM Plex Sans;
font-weight: 400;
position: relative;
left: 554px;
float: none;
top: 23px;
border-width: 0px;
border-style: solid;
}
.p-Home.TextBox177 {
width: 100px;
float: none;
position: relative;
left: 656px;
top: 1px;
font-family: IBM Plex Sans;
font-weight: 400;
border-width: 0px;
border-style: solid;
}
.p-Home.TextBox178 {
font-family: IBM Plex Sans;
font-weight: 400;
width: 100px;
left: 758px;
position: relative;
top: 42px;
border-width: 0px;
border-style: solid;
}
.p-Home.TextBox180 {
width: 100px;
position: relative;
left: 863px;
top: 63px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Image54 {
left: 1000px;
position: relative;
top: -30px;
}
